[submodule "vendor/bibtexparser"]
	path = vendor/bibtexparser
	url = https://github.com/sciunto-org/python-bibtexparser.git
[submodule "vendor/pyyaml"]
	path = vendor/pyyaml
	url = https://github.com/yaml/pyyaml.git
